body {
    padding: 10px 100px;
    padding-top: 0%;
}

h1 {
    text-align: center;
    background-color: aqua;
    color: black;
    padding: 10px;
    margin: auto;
}

#textbox {
    width: 98.9%;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}

p {
    /* margin: 5px; */
    text-align: center;
    background-color: blueviolet;
    font-size: 20px;
}